@import "tailwindcss";
@import "@xyflow/react/dist/style.css";

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: "Inter", sans-serif;
}
